# Sanity Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=vnp9hjul
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-02-11

# Optional: Sanity Token for preview/draft mode
SANITY_API_TOKEN=
